node_modules
frontend/node_modules
cutcoin-backend/node_modules
frontend/dist/
extension/dist/
cutcoin-backend/dist/
frontend/.env
extension/.env
cutcoin-backend/.env
cutcoin-backend/logs/combined.log
cutcoin-backend/logs/error.log

*.log


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/cutcoin_mobile/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/cutcoin_mobile/android/app/debug
/cutcoin_mobile/android/app/profile
/cutcoin_mobile/android/app/release
cutcoin_mobile/android/app/.cxx
