node_modules
frontend/node_modules
cutcoin-backend/node_modules
frontend/dist/
extension/dist/
cutcoin-backend/dist/
frontend/.env
extension/.env
cutcoin-backend/.env
cutcoin-backend/logs/combined.log
cutcoin-backend/logs/error.log