node_modules
merchant-panel/node_modules
cutcoin-backend/node_modules
merchant-panel/dist/
extension/dist/
cutcoin-backend/dist/
merchant-panel/.env
extension/.env
cutcoin-backend/.env
cutcoin-backend/logs/combined.log
cutcoin-backend/logs/error.log

*.log


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/cutcoin_mobile/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/cutcoin_mobile/android/app/debug
/cutcoin_mobile/android/app/profile
/cutcoin_mobile/android/app/release
cutcoin_mobile/android/app/.cxx



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/merchant-panel//node_modules
/merchant-panel//.pnp
merchant-panel/.pnp.*
merchant-panel/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/merchant-panel//coverage

# next.js
/merchant-panel//.next/
/merchant-panel//out/

# production
merchant-panel//build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
merchant-panel/yarn-debug.log*
merchant-panel/yarn-error.log*
merchant-panel/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
merchant-panel/.env*

# vercel
merchant-panel/.vercel

# typescript
*.tsbuildinfo
merchant-panel/next-env.d.ts
